{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  {% for city in cities %}
    <ul>
      <li>
        {{ city.name }}
      </li>
    </ul>

  {% endfor %}

{% endblock %}
