<ul class="nav navbar-expand-lg justify-content-center">
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="{{ path('home') }}">A propos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="#">Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="#">Service</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="#">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="#">Create an event</a>
  </li>
</ul>
